* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: pink;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    float: right;
}

.search-container input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 4px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: blue;
}


h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color:#80DEEA;
}


.banner img {
    height: auto;
}

.featured {
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.featured h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.featured a {
    font-size: 1rem;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-info {
    padding: 10px 0;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
}

button {
    background-color: #80DEEA;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00ACC1;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 150px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #aaa;
}
